.menu {
  display: flex;
  flex-direction: row;
}
.menu__exitBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu__item {
  margin-top: 100px;
  list-style-type: none;
}
.menu__item > li {
  margin-top: 20px;
}
.menu__item > li > span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1ch;
}
